.header {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  background-color: rgba(255, 255, 255, 0);
}
.header h3 {
  display: flex;
  justify-content: flex-end;
}
