* {
  margin: 0;
  scroll-behavior: smooth;
}
.row {
  display: flex;
  justify-content: center;
  height: 100vh;
  border-bottom: 5px solid black;
  font-family: "Pixelify Sans";
  color: black;
  padding-left: 100px;
  background-color: rgb(255, 255, 255);
}
